prompt-toolkit==1.0.14
pyfiglet==0.8.post1
Pygments==2.6.1
PyInquirer==1.0.3
regex==2020.7.14
six==1.15.0
wcwidth==0.2.5
git+https://gitlab+deploy-token-203703:X6gBxSpxzjVsybbhL9hi@gitlab.com/apoax/APOAX-Common.git